extends layouts/default

block content
   ul.food-list
        li.dish-elem
            div.dish-thumbnail
                img(src=mergedDishInfo.url)
            p Name: #{mergedDishInfo.name}
            p Group: #{mergedDishInfo.group}
            p Price: #{mergedDishInfo.price}
            p Time: #{mergedDishInfo.duration}
            //- li.drink-elem
            //-         div.drink-thumbnail
            //-             img(src=drinkInfo.url)
            //-         p Name: #{drinkInfo.name}
            //-         p Group: #{drinkInfo.group}
            //-         p Price: #{drinkInfo.price}
            //-         p Size: #{drinkInfo.size}                