extends ../layouts/default

block content
    h1.dish-name #{drinkInfo.name} <span class='group-pill'> #{drinkInfo.group.toUpperCase()} </span>
    div.dish-info-thumbnail
        img(src=drinkInfo.url)
    table.price-table
        caption Price table
        thead 
            tr
                th Size 
                th Price (VNĐ)
        tbody
            - for (let i = 0; i < drinkInfo.price.length; ++i)
                tr 
                    td #{drinkInfo.size[i]}
                    td #{drinkInfo.price[i]}