extends ../layouts/default

block content
    div.dish-thumbnail
        img(src=foodInfo.url)
    p Name: #{foodInfo.name}
    p Group: #{foodInfo.group}
    p Price: #{foodInfo.price}
    p Serve time:
    ul
        - for (let i = 0; i < foodInfo.startServe.length; ++i)
            li #{foodInfo.startServe[i]} - #{foodInfo.endServe[i]}