extends ../layouts/default 

block content 
    form(id="insert-drink" action='/dishes/add/drink' method='post')
        .form-group
            label(for='dish-group') Group 
            select(id='dish-group' form="insert-drink" name='group_id' required)
                each group in dishGroup
                    option(value=group.id) #{group.name}

        .form-group
            label(for='drink-id') ID
            input(id='drink-id' name='id' pattern='D[0-9]{4}' required)

        .form-group
            label(for='drink-name') Name
            input(id='drink-name' name='name' required)

        .form-group
            label(for='drink-thumbnail-url') URL
            input(id='drink-thumbnail-url' type='url' name='url' required)

        #form-extensible
            .form-group 
                label(for='drink-size-0') Size
                select(id='drink-size-0' name='size' required)
                    option(value='S') S
                    option(value='M') M
                    option(value='L') L

                label(for='drink-price-0') Price
                input(id='drink-price-0' type='number' step=1000 min=0 name='price' required)
            
        button#add-button +
        button#minus-button(disabled) -

        input(type='submit' value='submit')
    
    script.
        var i = 1
        var formExtensible = document.getElementById('form-extensible')

        let addButton = document.getElementById('add-button')
        let minusButton = document.getElementById('minus-button')

        addButton.addEventListener('click', e => {
            if (i === 3)
                return

            e.preventDefault()
            const formGroup = document.createElement('div')
            formGroup.classList.add('form-group')

            const sizeLabel = document.createElement('label')
            sizeLabel.textContent = 'Size'
            sizeLabel.setAttribute('for', `drink-size-${i}`)

            const sizeSelect = document.createElement('select')
            sizeSelect.id = `drink-size-${i}`
            sizeSelect.setAttribute('name', 'size')
            sizeSelect.setAttribute('required', true)

            const optionS = document.createElement('option')
            optionS.text = 'S'
            optionS.setAttribute('value', 'S')
            
            const optionM = document.createElement('option')
            optionM.text = 'M'
            optionM.setAttribute('value', 'M')

            const optionL = document.createElement('option')
            optionL.text = 'L'
            optionL.setAttribute('value', 'L')

            sizeSelect.appendChild(optionS)
            sizeSelect.appendChild(optionM)
            sizeSelect.appendChild(optionL)

            const priceLabel = document.createElement('label')
            priceLabel.textContent = 'Price'
            priceLabel.setAttribute('for', `drink-price-${i}`)

            const priceInput = document.createElement('input')
            priceInput.id = `drink-price-${i}`
            priceInput.setAttribute('type', 'number')
            priceInput.setAttribute('step', 1000)
            priceInput.setAttribute('min', 0)
            priceInput.setAttribute('name', 'price')
            priceInput.setAttribute('required', true)

            formGroup.appendChild(sizeLabel)
            formGroup.appendChild(sizeSelect)
            formGroup.appendChild(priceLabel)
            formGroup.appendChild(priceInput)

            formExtensible.appendChild(formGroup)

            ++i

            minusButton.removeAttribute('disabled')

            if (i === 3)
                addButton.setAttribute('disabled', true)
        })

        minusButton.addEventListener('click', e => {
            if (i === 1)
                return
            
            e.preventDefault()

            formExtensible.removeChild(formExtensible.lastChild)

            --i

            addButton.removeAttribute('disabled')
            
            if (i === 1)
                minusButton.setAttribute('disabled', true)

        })